<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center">Coin Watch</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>


    <ion-item *ngFor="let coin of coins">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h2><strong>{{ coin.name }}</strong></h2>
                    <p>{{ coin.ticker }}</p>
                </ion-col>
                <ion-col>
                    <ion-row>
                        <ion-col style="text-align: left">
                            <span class="list-span"><strong>{{ coin.price_usd }}</strong></span>
                            <span>Vol 3.27B</span>
                        </ion-col>
                        <ion-col style="text-align: right">
                            <span class="list-span" *ngIf=" coin.change == 'positive'" style="color: green;"><strong>{{ coin.price_change }}%</strong></span>
                            <span class="list-span" *ngIf=" coin.change == 'negative'" style="color: red;"><strong>{{ coin.price_change }}%</strong></span>
                            <span class="list-span" *ngIf=" coin.change == 'no change'" style="color: grey;"><strong>{{ coin.price_change }}%</strong></span>
                            <span *ngIf=" coin.change == 'positive'" style="color: green"> + {{ coin.price_change }}</span>
                            <span *ngIf=" coin.change == 'negative'" style="color: red"> {{ coin.price_change }}</span>
                            <span *ngIf=" coin.change == 'no change'" style="color: grey"> {{ coin.price_change }}</span>

                            <!--<span style="color: {{ coin.change === 'positive' ? 'green' : 'red' }}">+ 2.1</span>-->
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-item>

  </ion-list>

    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
        <ion-infinite-scroll-content
                loadingSpinner="crescent"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>