<ion-content>

    <div class="header-text">
        <p>Please select atleast 5 coins before you continue</p>
    </div>

    <div class="search-container">
        <ion-item>
            <ion-input class="search-input" type="email" (keyup)="searchTerm$.next($event.target.value)" placeholder="Email Input"></ion-input>
        </ion-item>
    </div>


    <ion-list no-lines class="list-background">

        <button class="list-button" ion-item detail-none *ngFor="let coin of coins" (click)="selectCoin(coin)">
            <ion-grid class="list-border">
                <ion-row>
                    <ion-col>
                        <span class="coin-name">{{ coin.name }}</span>
                    </ion-col>
                    <ion-col class="check-icon">
                        <span><ion-icon name="checkmark"></ion-icon></span>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </button>

    </ion-list>

    <ion-footer style="position: fixed">
        <ion-toolbar *ngIf="selectedCoins.length >= 5">
            <button ion-button full (click)="addSelectedCoins()">Next</button>
        </ion-toolbar>
        <ion-toolbar *ngIf="selectedCoins.length > 0 && selectedCoins.length < 5">
            <p class="selected-items">{{ selectedCoins.length}} coins selected</p>
        </ion-toolbar>
    </ion-footer>

</ion-content>