page-select {
  .list-select-coin{
    border-style: solid;
    border-color: #0000ff;
  }

  .selected-items{
    background: #2980B9;
    padding-top: 18px;
    padding-bottom: 20px;
    margin: inherit;
    text-align: center;
    color: white;
  }
}